<html>
<head>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Node socket.io Demo</h1>
  <h2>Game: <span id ="game_name_info"><%=game_name%></span></h2>
  <h2>Player: <span id ="username_info"><%=username%></span></h2>

  <div id="chat_section">
   <h3>Chat</h3>
   <textarea id="chat_display" name="chat_info"rows="20" cols="50"></textarea>
  <br>
  
  <input type="text" id="chat_message">
  <button type="button" id="chat_button">Send</button>
  <br>

  </div>
  <h4>Players in the Game:<span id="game_players">0</span></h4>
  <h4>Yahtzee Players Currently Online:<span id="total_players">0</span></h4>

  <script>
    let socket = io.connect('/');//the default namespace
    socket.emit('game_connection', {username:'<%=username%>', game_name:'<%=game_name%>'});

    socket.on('game_connection', function(data) {
        console.log(data.username+" has joined the game!")

        //keep track of the current number of connected game players
        let game_players_element = document.getElementById('game_players');
        game_players_element.innerText = data.num_game_connections;
        let chat_display_element = document.getElementById('chat_display');
        let text = " has joined the game!\n";
        if(data.username)
           text = data.username+text;

        chat_display_element.value =  chat_display_element.value+text;
    });

    socket.on('connection', function(data) {
        console.log("New player has connected to Yahtzee!")
        let total_players_element = document.getElementById('total_players');
        total_players_element.innerText = data.num_total_connections;
    });

    socket.on('chat', function(data) {
        console.log("Chat message received from "+data.username+": "+data.message)
        let chat_display_element = document.getElementById('chat_display');
        let text = data.message+"\n";
        if(data.username)
           text = data.username+": "+text;

        chat_display_element.value+=text;
    });

    document.getElementById("chat_button").addEventListener('click', function(){
      let message_data = document.getElementById("chat_message").value;
      console.log("sending: "+message_data);
      socket.emit('chat', {
        username:'<%=username%>',
        game_name:'<%=game_name%>',
        message: message_data
      });
      document.getElementById("chat_message").value="";
    });

</script>
</body>
</html>
